* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  background-color: hsl(0, 0%, 8%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 43rem;
  height: auto;
  background-color: hsl(0, 0%, 12%);
  padding: 3rem;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
  box-shadow: 0.3rem 0.6rem 1.2rem -0.6rem hsl(75, 94%, 57%);
  transition: all 0.3s;
}

.profile {
  text-align: center;
}

.profile img {
  width: 12rem;
  border-radius: 50%;
  margin-bottom: 2.2rem;
}

.name {
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.location {
  font-size: 1.6rem;
  color: hsl(75, 94%, 57%);
  font-weight: bold;
  margin-bottom: 2.8rem;
}

.role {
  font-weight: 300;
  font-size: 1.6rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: center;
}

.link,
.link:link,
.link:visited {
  font-size: 1.5rem;
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 1.8rem 12rem;
  border-radius: 12px;
  transition: all 0.3s ease-out;
}

@media (min-width: 60em) {
  .container:hover {
    transform: scale(1.01);
  }

  .link:hover,
  .link:active {
    transform: scale(1.03);
    background-color: hsl(75, 94%, 57%);
    color: #000;
  }
}

@media (max-width: 56em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 36em) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 20em) {
  html {
    font-size: 30%;
  }
}
